.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1em;
  margin-left: 3em;
  font-family: 'Josefin Sans', sans-serif;
}

.usernameinput {
  font-family: inherit;
  font-size: 1.5em;
  height: 1.5em;
  text-align: left;
  color:#ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  margin-top: 0.3em;
  width: 40%;
}

.usernameinput:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.usernamebutton:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.usernamebutton {
  font-family: inherit;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  color:#ffffff;
  font-size: 1.5em;
  margin-top: 0.3em;
}

.usernamelabel {
  font-size: 1.5em;
  color: #ffffff;
}

::placeholder {
  color: rgba(0, 0, 0, 0.8)
}

.listcontainer {
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  display:flex;
  justify-content: space-around;
  font-size: 1.5em;

}

ol {
  margin: 0;
  padding: 0;
}

li {
  margin-top: 2px;
}

.translatorwrapper {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.translatorlabelwrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.translatorinputlabel {
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}

.translatorinput {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  height: 1.5em;
  width: 600px;
  text-align: left;
  color:#ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  margin-right: .2em;

}

.translatorbutton {
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  color:#ffffff;
  font-size: 1.5em;
  height: 1.1em;
}

.translatorinput:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.translatorbutton:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.signswrapper {
  display: flex;
  margin-top: 2em;
}

.signsbackdrop {
  display: flex;
  background-color: #d5e9f2;
  height: 25em;
  width: 1000px;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.75rem rgb(16, 117, 148));
  border: solid 1px rgb(48, 46, 66)
}

.translatoroutputbackdrop {
  background-color: #E8DDB5;
  align-self: flex-end;
  justify-content: center;
  position: absolute;
  width: 1000px;
  border-radius: 0px 0px 10px 10px;
  border: solid 1px rgb(48, 46, 66);
  height: 1.5em;
  font-size: 1.5em;
}

.translatoroutput {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.signs img {
  width: 50px;
  height: auto;
}



